<div id='search-area'>

<!-- show warning messages if no car is found -->
<% if flash[:warning] %>
<div style='display: inline-block' class='alert alert-warning' id='search-fail'><%= flash[:warning] %></div>
<% end %>

<h3>我想查有以下配備的車：</h3>

<hr>

<%= render 'search/search_form' %>

</div>
