<% if flash[:warning] %>
  <div class='alert alert-warning' id='search-fail'>
    <%= flash[:warning] %>
  </div>
<% end %>

<div id='search-area'>
    <%= render 'search/search_form' %>
</div>

<hr>

<% if flash[:success] %>
  <div class="alert alert-success", id='search-success'>
    <%= flash[:success] %>
  </div>
<% end %>

<% if @cars_group.present? %>

  <% @cars_group.each do |cars| %>

  <div>
    <%= render partial: 'common/cars_data_table', locals: {cars: cars, table_class: 'search-result-table', editable: false, render_full_name: true, line_break_after_brand_and_model_name: true} %>
  </div>

  <% end %>

<% end %>
