<div><p><%= link_to '回上一頁', controller: 'search', action: 'index' %></p></div>

<div class="alert alert-success">
  <%= flash[:success] if flash[:success] %>
</div>

<div>
  <%= render partial: 'common/cars_data_table', locals: {cars: @cars} %>
</div>

<div><p><%= link_to '回上一頁', controller: 'search', action: 'index' %></p></div>
