<div class="container">
  <h2>Brand list</h2>
  <h2><%= link_to 'New brand', new_admin_brand_path, class: "btn btn-mini btn-success" %></h2>
  <div>
    <ul>
      <% @brands.each do |brand| %>
      <li><%= link_to brand.name, admin_brand_path(brand) %></li>
      <% end %>
    </ul>
  </div>
</div>
