// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

table#car-data-table
  font-family: 'Arial'
  // font-size: 14px

  td, th
    text-align: center

  span.label
    font-weight: normal
    font-size: 0.72rem
    font-family: 'Lucida Grande'
    // font-family: 'Arial'
    // font-family: 'Helvetica'
