// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

$header-line-height: 50px
$link-hover-color: #5f8bfa
$model-name-color: #666666
$brand-name-color: #555555

#header
  height: $header-line-height
  text-align: center
  background-color: #CCC

  h1
    margin: auto
    vertical-align: middle
    line-height: $header-line-height

#middle-inner-container
  max-width: 800px
  margin: auto

#side-nav-container
  float: left
  width: 120px
  // border-style: solid
  // border-width: 1px
  // background-color: #EEE

#side-nav
  margin: 20px 0 20px 0

  .ul-brands
    list-style-type: none

    .li-brand

      .span-brand
        line-height: 150%
        font-family: "Arial Black"
        // font-family: "Avant Garde"
        font-weight: bold
        font-size: 16px
        color: $brand-name-color

        &:hover
          cursor: pointer
          // color: $link-hover-color


    .ul-models
      padding-left: 16px
      margin-left: 0
      line-height: 150%
      list-style-type: none
      // font-family: "Avant Garde"
      font-family: "sans-serif"
      letter-spacing: 1px
      font-size: 14px

      .li-model
        a
          color: $model-name-color
        a:hover
          color: $link-hover-color
          text-decoration: none

    hr
      width: 80%
      align: left
      margin: 10px 20px 10px 0


#content-container
  display: inline-block
  min-width: 600px
  // float: right
  // width: 100%
  // border-style: solid
  // border-width: 1px
  // background-color: #DDF

#content
  margin: 20px
  border-style: solid
  border-width: 1px
  padding: 20px 20px 20px 20px
  border-color: #DDD
  // background-color: #CCF

table#car-data-table
  td, th
    text-align: center
