$header-line-height: 50px

#header
  height: $header-line-height
  text-align: center
  background-color: #CCC

  h1
    margin: auto
    vertical-align: middle
    line-height: $header-line-height

#middle-inner-container
  max-width: 800px
  margin: auto

#content-container
  display: inline-block
  min-width: 600px
  // float: right
  // width: 100%
  // border-style: solid
  // border-width: 1px
  // background-color: #DDF

#content
  margin: 20px
  border-style: solid
  border-width: 1px
  padding: 20px 20px 20px 20px
  border-color: #DDD
  // background-color: #CCF
