$header-line-height: 50px
$max-middle-inner-container-width: 800px
$side-nav-container-width: 150px

html
  font-size: 100%

div#header
  margin: 0
  // height: $header-line-height
  // text-align: center
  // background-color: #CCC

  // h1
  //   margin: auto
  //   vertical-align: middle
  //   line-height: $header-line-height

#middle-container
  // background-color: #ebf5ff
  padding-top: 20px

#middle-inner-container
  max-width: $max-middle-inner-container-width
  margin: auto

#side-nav-container
  float: left
  width: $side-nav-container-width
  // border-style: solid
  // border-width: 1px
  // background-color: #EEE


#content-container
  display: inline-block
  min-width: $max-middle-inner-container-width - $side-nav-container-width
  // float: right
  // width: 100%
  // border-style: solid
  // border-width: 1px
  // background-color: #DDF

#content
  margin: 20px 0 20px 0
  // border-style: solid
  // border-width: 1px
  // padding: 20px 20px 20px 20px
  // border-color: #DDD
  // background-color: #CCF
