// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

table.car-data

  font-family: 'Arial'
  font-size: 13px

  td, th
    text-align: center
    // font-family: "Avenir Next","Nunito","Helvetica Neue",Helvetica,Arial,sans-serif

  span.label
    font-weight: normal
    font-size: 0.72rem
    font-family: 'Lucida Grande'
    // font-family: 'Arial'
    // font-family: 'Helvetica'

  th.data-name
    width: 200px

  th.data-value
    width: 100px

  th.small-font
    font-size: 12px
