<% if table_class %>
<table class='table table-striped table-bordered table-hover car-data <%= table_class %>'>
<% else %>
<table class='table table-striped table-bordered table-hover car-data %>'>
<% end %>
<thead>
  <tr>
    <th class='data-name'>車款</th>

    <% cars.each do |car| %>
    <th class='data-value small-font'><%= render_car_name(car) %></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <tr>
    <th class='data-name'>年份</th>
    <% cars.each {|c| concat content_tag(:td, c.year)} %>
  </tr>

  <tr>
    <th class='data-name'>製造地</th>
    <% cars.each {|c| concat content_tag(:td, c.made_in)} %>
  </tr>

  <tr>
    <th class='data-name'>車門數 / 排氣量</th>
    <% cars.each {|c| concat content_tag(:td, "#{c.door_num} 門 / #{c.displacement} L")} %>
  </tr>

  <tr>
    <th class='data-name'>安全氣囊數</th>
    <% cars.each {|c| concat render_airbag_field_with_color(c.airbag_num)} %>
  </tr>

  <tr>
    <th class='data-name'>雙前座氣囊</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_airbags_at_front)} %>
  </tr>

  <tr>
    <th class='data-name'>雙前座車側氣囊</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_airbags_at_front_side_torso)} %>
  </tr>

<!--   <tr>
    <th class='data-name'>雙後座車側氣囊</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_airbags_at_rear_side_torso)} %>
  </tr> -->

  <tr>
    <th class='data-name'>雙側邊簾幕式氣囊</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_airbags_at_side_curtain)} %>
  </tr>

  <tr>
    <th class='data-name'>駕駛座膝部氣囊</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_airbag_at_driver_knee)} %>
  </tr>

<!--   <tr>
    <th class='data-name'>前座乘客膝部氣囊</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_airbag_at_passenger_knee)} %>
  </tr> -->

<!--   <tr>
    <th class='data-name'>前座中央氣囊</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_airbag_at_front_center)} %>
  </tr> -->

<!--   <tr>
    <th class='data-name'>行人防護氣囊</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_airbag_for_pedestrian)} %>
  </tr> -->

<!--   <tr>
    <th class='data-name'>預束式安全帶</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_pretension_seat_belt)} %>
  </tr>
 -->

  <tr>
    <th class='data-name'>ISOFIX 安全座椅固定裝置</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_isofix)} %>
  </tr>

  <tr>
    <th class='data-name small-font'>ABS / EBD / EBA 煞車輔助系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_abs && c.has_ebd && c.has_eba)} %>
  </tr>

<!--   <tr>
    <th class='data-name'>EBD 煞車力道分配系統</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_ebd)} %>
  </tr>

  <tr>
    <th class='data-name'>EBA 煞車力道輔助系統</th>
    <%# cars.each {|c| concat render_to_yes_no_with_color(c.has_eba)} %>
  </tr> -->

  <tr>
    <th class='data-name'>BOS 煞車優先系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_brake_override_system)} %>
  </tr>

  <tr>
    <th class='data-name'>ESP 車身動態穩定系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_esp)} %>
  </tr>

  <tr>
    <th class='data-name'>定速巡航系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_cruise_control)} %>
  </tr>

  <tr>
    <th class='data-name'>主動車距控制巡航系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_adaptive_cruise_control)} %>
  </tr>

  <tr>
    <th class='data-name'>AFS 主動式轉向頭燈</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_afs)} %>
  </tr>

  <tr>
    <th class='data-name'>斜坡起步輔助系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_hill_start_assist)} %>
  </tr>

  <tr>
    <th class='data-name'>車側盲點偵測系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_blind_spot_monitor_system)} %>
  </tr>

  <tr>
    <th class='data-name'>都會行車防護系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_city_safety_system)} %>
  </tr>

  <tr>
    <th class='data-name'>車道偏移警示系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_lane_departure_warning_system)} %>
  </tr>

  <tr>
    <th class='data-name'>車道偏移輔助系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_lane_keeping_assist)} %>
  </tr>

  <tr>
    <th class='data-name'>碰撞警示暨主動煞車系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_collision_warning_and_auto_brake)} %>
  </tr>

  <tr>
    <th class='data-name'>TPMS 胎壓偵測系統</th>
    <% cars.each {|c| concat render_to_yes_no_with_color(c.has_tpms)} %>
  </tr>

  <tr>
    <th class='data-name'>官方規格表</th>
    <% cars.each {|c| concat render_external_link(c.spec_url)} %>
  </tr>

  <tr>
    <th class='data-name'>建議售價</th>
    <% cars.each {|c| concat render_price(c.retail_price)} %>
  </tr>

  <tr>
    <th class='data-name'>備註</th>
    <% cars.each {|c| concat content_tag(:td, simple_format(c.note, class: 'extra-small-font', style: 'text-align: left'))} %>
  </tr>

</tbody>

</table>
