<div id="side-nav-container">
  <div id="side-nav">
    <ul class='ul-brands'>

    <% @brand_and_model_list.each do |brand, models| %>

      <li class='li-brand'><%= brand %></li>
      <ul class='ul-models'>

      <% models.each do |model| %>
        <li class='li-model'><%= "#{model.name}" %></li>
      <% end %>

      </ul>

    <% end %>

    </ul>
  </div>
</div>
