<div id="header" class='navbar navbar-default'>
<div class="container">

<!--   <div class="navbar-header">
    <a href="#" class="navbar-brand">Buy a Safe Car</a>
  </div>
 -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to '查配備', models_path %></li>
      <li><%= link_to '比較配備', '#' %></li>
      <li></li>
    </ul>
  </div>

</div>
</div>
