<div id="side-nav-container">
  <div id="side-nav">
    <ul class='ul-brands'>

    <% @brands.each do |brand| %>

      <li class='li-brand'><span class='span-brand'><%= brand.name %></span>

        <ul class='ul-models'>

        <% brand.models.order(:name).select(:name, :id).each do |model| %>
          <% if model.cars.present? %>
            <li class='li-model'><%= link_to "#{model.name}", { controller: :models, action: :show, id: model.id } %></li>
          <% end %>
        <% end %>

        </ul>

      </li>

      <!-- Don't show <hr> if it is the last brand -->
      <% unless brand.equal? @brands.last %>
      <hr>
      <% end %>

    <% end %>

    </ul>
  </div>
</div>
