<div id="side-nav-container">
  <div id="side-nav">
    <ul class='ul-brands'>

    <% @brand_and_model_list.each do |brand, models| %>

      <li class='li-brand'><%= brand %></li>
      <ul class='ul-models'>

      <% models.each do |model| %>
        <li class='li-model'><%= link_to "#{model.name}", { controller: :models, action: :show, id: model.id } %></li>
      <% end %>

      </ul>

    <% end %>

    </ul>
  </div>
</div>
