<div id="side-nav-container">
  <div id="side-nav">
    <ul class='ul-brands'>

    <% @brands.each do |brand| %>

      <li class='li-brand'><%= brand.name %></li>
      <ul class='ul-models'>

      <% brand.models.order(:name).select(:name, :id).each do |model| %>
        <li class='li-model'><%= link_to "#{model.name}", { controller: :models, action: :show, id: model.id } %></li>
      <% end %>

      </ul>

    <% end %>

    </ul>
  </div>
</div>
